#pmc_comments_main_div { border:1px solid #2e2e2e; padding:0; overflow:auto; margin-bottom: 1.875rem; }
#pmc_comments_main_div .widget_title_div { font-size:20px; background: #cccccc; color:#0088CC; text-align:center; }
.row1 { background: #cceeff; color:#2e2e2e; }
.row2 { background: #FFFFFF; color:#2e2e2e; }
#pmc_comments_main_div .news_item_main_div {  font-size:12px; padding:5px; overflow:auto; }
#pmc_comments_main_div .news_item_thumbnail{ width:52px; height:52px; padding:1px; float:left; }
#pmc_comments_main_div .news_item_title { width:296px; height:37px; padding:0 5px; float:left; }
#pmc_comments_main_div .author_name { float:left; height:15px; font-size:10px; color:#7e7e7e; padding: 0 5px; }
#pmc_comments_main_div .news_item_comment { width:353px; height:auto; padding:0 5px; float:left; font-style:italic; color:#8c8c8c; }